.btn.btn-transparent.dark-grey-text {
    color: #4f4f4f!important;
}

// Creative Landing Page
.creative-lp {
    body {
        font-weight: 400;
    }
    .description {
        line-height: 2rem;
    }
    .icon-area strong::after {
        background: #98cfff none repeat scroll 0 0;
    }
    .icon-area {
        .circle-icon {
            i {
                box-shadow: 0 8px 19px rgba(91, 154, 251, 0.41);
                width: 90px;
                height: 90px;
                padding: 1.8rem;
                font-size: 2rem;
                border-radius: 50%;
                background: #FFF;
                &:hover {
                    background: #ebeef9;
                }
            }
        }
    }
    .page-footer {
        background-color: #6d7275;
    }
    .btn-white {
        color: #fb5364 !important;
    }
    .btn.pink-gradient {
        background: -webkit-linear-gradient(50deg, #FF5858, #ee4392);
        background: linear-gradient(40deg, #FF5858, #ee4392);
    }
    .pink-gradient {
        background: -webkit-linear-gradient(50deg, #FF5858, #ee4392);
        background: linear-gradient(40deg, #FF5858, #ee4392);
    }
    .mask {
        &.rgba-gradient {
            background: -moz-linear-gradient(45deg, rgba(255, 88, 88, 0.7), rgba(238, 66, 146, 0.8) 100%);
            background: -webkit-linear-gradient(45deg, rgba(255, 88, 88, 0.7), rgba(238, 66, 146, 0.8) 100%);
            background: linear-gradient(to 45deg, rgba(255, 88, 88, 0.7), rgba(238, 66, 146, 0.8) 100%);
        }
    }
    .font-small {
        font-size: 0.9rem;
        line-height: 1.7rem;
    }
    .orange-text {
        color: #fb5364 !important;
    }
    .pink-text {
        color: #ee4390 !important;
    }
    .card .avatar img {
        border-radius: 100px;
    }
    @media (max-width: 1025px) {
        .stepper.timeline li {
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;
        }
    }
    .stepper.timeline li a {
        padding: 0px 24px;
        left: 50%;
    }
    @media (max-width: 450px) {
        .stepper.timeline li a {
            left: 6%;
        }
    }
    @media (min-width: 451px) and (max-width: 1025px) {
        .stepper.timeline li a {
            left: 6%;
        }
    }
    .fa-2x {
        font-size: 2em;
        margin-bottom: 0.7rem;
    }
    p {
        font-size: 0.95rem;
        line-height: 1.8rem;
    }
    .navbar {
        font-weight: 400;
    }
    .grey {
        background-color: #dddde4 !important;
    }
    h6 {
        line-height: 1.7rem;
        font-weight: 400;
    }
    .title {
        color: #112f6b !important;
    }
    .spacing {
        letter-spacing: 1px;
    }
    .gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 33%;
        -moz-column-width: 33%;
        column-width: 33%;
    }
    .gallery {
        .pics {
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
        }
    }
    .gallery {
        .animation {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
    @media (max-width: 450px) {
        .gallery {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            -webkit-column-width: 100%;
            -moz-column-width: 100%;
            column-width: 100%;
        }
    }
    @media (max-width: 400px) {
        .btn.filter {
            padding-left: 1.1rem;
            padding-right: 1.1rem;
        }
    }
    @media (max-width: 740px) {
        .full-height,
        .full-height body,
        .full-height header,
        .full-height header .view {
            height: 700px;
        }
        .display-4 {
            font-size: 2.5rem
        }
        h5 {
            font-size: 1.1rem;
        }
    }
    .btn-floating {
        box-shadow: 0 5px 11px 0 rgba(74, 124, 255, 0.24), 0 4px 15px 0 rgba(65, 97, 198, 0.15);
    }
    .btn-floating:hover {
        box-shadow: 0 8px 17px 0 rgba(45, 81, 202, 0.2), 0 6px 20px 0 rgba(43, 51, 205, 0.19);
    }
    .z-depth-2 {
        box-shadow: 0 8px 17px 0 rgba(76, 124, 226, 0.2), 0 6px 20px 0 rgba(49, 115, 211, 0.19);
    }
    .blue-text {
        color: #557ff9 !important;
    }
    .streak.streak-md {
        height: auto;
    }
    .blue-gradient-mask {
        background: linear-gradient(40deg, rgba(116, 184, 255, 0.8), rgba(87, 79, 240, 0.8));
    }
    .testimonial-card .card-up {
        height: 39px;
    }
    .section.team-section .avatar {
        margin-bottom: 0rem;
    }
    .input-group.md-form.form-sm.form-4 input {
        border: 1px solid #bdbdbd;
    }
    .input-group.md-form.form-sm.form-4 input[type=text]:focus:not([readonly]).lime-border {
        border: 1px solid #FFFFFF;
        box-shadow: none;
    }
    .input-group.md-form.form-sm.form-3 input {
        border: 1px solid #e0e0e0;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
    .input-group.md-form.form-sm.form-3 .input-group-addon {
        /*border-left: 1px solid red;*/
    }
    .input-group.md-form.form-sm.form-3 input[type=text]:focus:not([readonly]).black-border {
        border: 1px solid #4285F4;
        box-shadow: none;
    }
    .shadow-textarea textarea.form-control::placeholder {
        font-weight: 300;
    }
    .shadow-textarea textarea.form-control {
        padding-left: 0.8rem;
    }
    .rounded-corners textarea {
        border-radius: 0.25rem;
    }
    .basic-textarea textarea {
        height: auto;
    }
    .dropdown {
        .dropdown-menu {
            .dropdown-item:hover,
            {
                background-color: #112f6b;
            }
        }
    }
    .mask.rgba-gradient-1 {
        background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(255, 48, 48, 0.7) 100%);
        background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(255, 48, 48, 0.7) 100%);
        background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(255, 48, 48, 0.7)));
        background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(255, 48, 48, 0.7) 100%);
        background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(255, 48, 48, 0.7) 100%);
    }
    .wrapper {
        position: relative;
        /* width: 560px; */
    }
    .wrapper img {
        max-width: 100%;
        height: auto;
    }
    .wrapper iframe {
        display: none;
    }
    .play-btn {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        border: 0;
    }
    .play-btn:hover {
        cursor: pointer;
    }
    .play-btn:focus {
        outline: 0;
    }
    .accordion.accordion-2 p {
        font-size: 1rem;
        font-weight: 400;
    }
    .accordion.accordion-2 {
        .card {
            border: 0;
            background-color: transparent;
        }
    }
    .accordion.accordion-2 {
        .card {
            .card-header,
            {
                border: 0;
                border-radius: 3px;
            }
            p {
                font-size: 0.95rem;
            }
        }
    }
    .intro-3 {
        background: #ff3f71;
        background-image: linear-gradient(120deg, #ff3c6d, #ffa76d, #ff73bb, #6caafd, #1fe4d4);
        background-repeat: no-repeat;
        background-size: 800% 400%;
        animation-name: introAnimation;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-delay: 0;
        animation-iteration-count: infinite;
    }
    @keyframes introAnimation {
        0% {
            background-position: 0 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0 50%
        }
    }
    .intro-title {
        font-size: 3rem;
        line-height: 4rem;
    }
}