<div
  v-if="docs.data && docs.data[nav.page] && docs.data[nav.page] && docs.data[nav.page].create && selectPick(['usersList', 'navigationsList'])"
  class="modal fade" id="createGroups" tabindex="-1" role="dialog" aria-labelledby="creategroupsLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update Object</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="groupsCreate">

        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label class="cLable">Name</label>
              <input  v-model="docs.data[nav.page].create.name" type="text" class="form-control"
                name="name" placeholder="Name">
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label class="cLable">Permissions</label>
              <input  v-model="docs.data[nav.page].create.permissions" type="number"
                class="form-control" name="permissions" placeholder="Permissions">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
            <select @change="setFormList($event, nav.page, 'users')" id="usersList" class="selectpicker"
              data-live-search="true" multiple>
              <option v-if="lists.usersList && lists.usersList.data" v-for="list in lists.usersList.data"
                :id="list._id">{{list.account}}</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
            <select @change="setFormList($event, nav.page, 'navigations')" id="navigationsList" class="selectpicker"
              data-live-search="true" multiple>
              <option v-if="lists.navigationsList && lists.navigationsList.data"
                v-for="list in lists.navigationsList.data" :id="list._id">{{list.name}}</option>
            </select>
          </div>
        </div>
        <!-- <input id="select-to" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
        <h4 class="modal-title">Modal Heading</h4>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <div class="text-right">
          <button
            v-if="docs.data && docs.data[nav.page] && docs.data[nav.page] && docs.data[nav.page].create && docs.data[nav.page].create.permissions && docs.data[nav.page].create.name"
            @click="createDoc(nav.page, $event)" type="button" class="btn btn-primary">Save</button>
        </div>
      </div>

    </div>
  </div>
</div>