<div
  v-if="docs.data && docs.data[nav.page] && docs.data[nav.page] && docs.data[nav.page].create && selectPick(['topicsList', 'groupsList'])"
  class="modal fade" id="createCategories" tabindex="-1" role="dialog" aria-labelledby="createCategoriesLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update Object</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form method="POST">
        <!-- Modal body -->
        <div class="modal-body" id="Create">

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label v-if="docs.data[nav.page].create.name" class="cLable">Category name</label>
                <label v-else class="cLable"></label>
                <input v-model="docs.data[nav.page].create.name" type="text"
                  class="form-control" name="name" placeholder="Name">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label v-if="docs.data[nav.page].create.permissions" class="cLable">Permissions</label>
                <label v-else class="cLable"></label>
                <input  v-model="docs.data[nav.page].create.permissions" type="number"
                  class="form-control" name="permissions" placeholder="Permissions">
              </div>
            </div>

            <div class="col-sm-4">
              <label class="cLable d-flex d-flex justify-content-center">Enabled</label>
              <div class="d-flex d-flex justify-content-center">
                <input type="checkbox" checked name="enabled" class="bootstrap-switch"
                  data-on-label="<i class='now-ui-icons ui-1_check'></i>"
                  data-off-label="<i class='now-ui-icons ui-1_simple-remove'></i>" />
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
              <label class="cLable">Topics</label>
              <select @change="setFormList($event, nav.page, 'topics')" id="topicsList" class="selectpicker"
                data-live-search="true" multiple>
                <option v-if="lists.topicsList && lists.topicsList.data" v-for="list in lists.topicsList.data"
                  :id="list._id">{{list.name}}</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
              <label class="cLable">Groups</label>
              <select @change="setFormList($event, nav.page, 'groups')" id="groupsList" class="selectpicker"
                data-live-search="true" multiple>
                <option v-if="lists.groupsList && lists.groupsList.data" v-for="list in lists.groupsList.data"
                  :id="list._id">{{list.name}}</option>
              </select>
            </div>

            <!-- <div class="col-sm-4 mt-5">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01" @change="fileNameCheck('inputGroupFile01')">
                <label class="custom-file-label" for="inputGroupFile01">{{inputGroupFile01 ? inputGroupFile01 : 'Select sub topic image.'}}</label>
              </div>
            </div>
          </div> -->
          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label v-if="docs.data[nav.page].create.description" class="cLable">Category description</label>
                <label v-else class="cLable"></label>
                <textarea  v-model="docs.data[nav.page].create.description" rows="4" cols="80"
                  placeholder="Add description for category" name="description" class="form-control"></textarea>
              </div>
            </div>
          </div>

          <!-- <input id="select-to" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
          <h4 class="modal-title">Modal Heading</h4>

        </div>
  
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <div class="text-right">
          <input type="submit" class="btn btn-info" value="Savess"
            v-if="docs.data && docs.data[nav.page] && docs.data[nav.page] && docs.data[nav.page].create && docs.data[nav.page].create.name && docs.data[nav.page].create.description"
            @click="createDoc(nav.page, $event)" type="button" class="btn btn-primary">
        </div>
      </div>
      </form>

    </div>
  </div>
</div>
