    <!--Footer-->
    <footer class="page-footer center-on-small-only pt-0 mt-5 mdb-color lighten-4 navbar-fixed-bottom footer fixed-bottom">

        <!--Copyright-->
        <div class="container">
        <div class="footer-copyright">
            <div class="container-fluid">
                &copy; 2017 Copyright: <a href="https://www.technomancyIT.com"> TechnomancyIT.com </a>

            </div>
        </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->