<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ClikBak</title>
    <!-- Font Awesome -->

     <link href="css/bootstrap.css" rel="stylesheet">
     <link href="css/mdb.min.css" rel="stylesheet">

</head>