<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ClikBak</title>
    <!-- Font Awesome -->

    <!-- Custom CSS-->
    <link href="css/style.css" rel="stylesheet">
    <style>
        body {
            font-weight: 400;
        }

        .intro-2 {
            background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")no-repeat center center;
            background-size: cover;
        }

        h6 {
            line-height: 1.7;
        }
    </style>
</head>