  <!--Footer-->
  <footer :class="'page-footer footer text-center font-small darken-2 mt-4 fadeIn fixed-bottom '+navColor+'-color-dark'">
    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="https://technomancyit.com" target="_blank"> technomancyIT </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->