<footer class="footer">
  <div class=" container-fluid ">
    <nav>
      <ul>
        <li>
          <a href="#">
            TechnomancyIT
          </a>
        </li>
        <li>
          <a href="http://presentation.TechnomancyIT.com">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.TechnomancyIT.com">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      &copy; 2019 Coded by
      <a href="https://TechnomancyIT.com" target="_blank">TechnomancyIT</a>
    </div>
  </div>
</footer>