    <header id="main-header">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-5">
          <img src="img/person1.jpg" alt="">
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="d-flex flex-column">
            <div class="p-5 bg-dark text-white">
              <div class="d-flex flex-row justify-content-between aligh-items-center">
                <h1 class="display-4">Chad Koslovsky</h1>
                <div class="d-none d-md-block">
                  <a href="http://twitter.com" class="text-white">
                    <i class="fab fa-twitter"></i>
                  </a>
                </div>
                <div>
                  <a href="http://facebook.com" class="text-white">
                    <i class="fab fa-facebook"></i>
                  </a>
                </div>
                <div>
                  <a href="http://instagram.com" class="text-white">
                    <i class="fab fa-instagram"></i>
                  </a>
                </div>
                <div>
                  <a href="http://github.com" class="text-white">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="p-4 bg-black">
              
              <div class="text-right">
              <a href="#" data-toggle="modal" data-target="#userModal" class="text-right btn btn-outline-light waves-effect waves-light btn-sm"><i class="fas fa-sign-in-alt"></i> Login </a>
            </div>
            Experienced Full Stack Web Developer
            </div>

            <div>
              <div class="d-flex flex-row text-white align-items-stretch text-center">
                <div class="port-item p-4 bg-<%- colors[0] %> waves-effect waves-dark" data-toggle="collapse" data-target="#home">
                  <i class="fas fa-home fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Home</span>
                </div>
                <div class="port-item p-4 bg-<%- colors[1] %> waves-effect waves-dark" data-toggle="collapse" data-target="#resume">
                  <i class="fas fa-graduation-cap fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Resume</span>
                </div>
                <div class="port-item p-4 bg-<%- colors[2] %> waves-effect waves-dark" data-toggle="collapse" data-target="#work">
                  <i class="fas fa-folder-open fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Work</span>
                </div>
                <div class="port-item p-4 bg-<%- colors[3] %> waves-effect waves-dark" data-toggle="collapse" data-target="#contact">
                  <i class="fas fa-envelope fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Contact</span>
                </div>
              </div>  
            </div>
            <div>
          </div>
        </div>
      </div>
    </header>