 {{> head}} {{> adminH}}

<!-- Main content -->
    <!--Main layout-->
    <main class="view">
        <div id="mainId" class="container-fluid">

            <!--Section: Button icon-->
      

       
            <!--Section: Panels-->

        </div>

        <!-- Fixed button d-none d-xl-block bottom: 45px;-->
        <div id="floatButton" class="fixed-action-btn clearfix" style="top: 45px; right: 24px; display:none;">
            <a class="btn-floating btn-lg blue-gradient">
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <!-- Fixed button -->

    </main>
<!-- Main content -->
{{> footer}} {{> modals}} {{> extras}} {{> scripts}}


</body>

</html>