{{> head}}
<style>

</style>

<body class="fixed-sn white-skin">

    <!--Main Navigation-->
    <header id="loginVue" >

        <nav  class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <strong>Trakbak</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-sm-2">
                    <li class="nav-item">
                        <a class="nav-link" href="https://clikbak.com">Contact</a>
                    </li>
                    </ul>
                </div>

            </div>
        </nav>

        <!--Intro Section-->
        <section class="view intro-2 hm-stylish-strong">
            <div class="full-bg-img flex-center flex-center-login">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">

                            <!--Form with header-->
                            <div class="card orange-transparent wow fadeIn text-light" data-wow-delay="0.3s">
                                <div class="card-body">

                                    <!--Header-->
                                    <div class="form-header orange-gradient">
                                        <h3>
                                            <i class="fa fa-user mt-2 mb-2"></i> Sign in:</h3>
                                    </div>

                                    <!--Body-->
                                    <form id="formLogin" action="auth/register" method="post" >
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix white-text"></i>
                                        <input v-model="login" type="text" id="username" name="username" class="form-control">
                                        <label  for="username">Your email</label>
                                    </div>

                                    <div class="md-form">
                                        <i class="fa fa-lock prefix white-text"></i>
                                        <input v-model="password" type="password" id="password" name="password" class="form-control">
                                        <label for="password" >Your password</label>
                                    </div>
                                    </form> 
                                    <div class="text-center">
                                        <button onclick="login()" class="btn orange-gradient btn-lg">Sign In</button>
                                        <hr>
                                        <div class="inline-ul text-center d-flex justify-content-center">
                                            <a class="icons-sm tw-ic">
                                                <i class="fa fa-twitter white-text"></i>
                                            </a>
                                            <a class="icons-sm li-ic">
                                                <i class="fa fa-linkedin white-text"> </i>
                                            </a>
                                            <a class="icons-sm ins-ic">
                                                <i class="fa fa-instagram white-text"> </i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--/Form with header-->

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </header>
    <!--Main Navigation-->

    <!-- SCRIPTS -->
    {{> scripts}}
</body>

</html>